<h5>Me On The Internet</h5>
<ul class="list-unstyled">
    <li><a href="https://twitter.com/LiamBlizard"><i class="fa fa-twitter"></i> Twitter (liamblizard)</a></li>
    <li><a href="https://github.com/mrbliz"><i class="fa fa-github"></i> GitHub (mrbliz)</a></li>
</ul>